@import "tailwindcss";

@theme {
  --font-display: "Open Sans", "sans-serif";

  --color-primary: "#2c9691";
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.auth-layout {
  background: url("./../assets/images/auth-bg.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top right !important;
}
